<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EcommerceInvoices.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EcommerceInvoices.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>192.168.10.10:30015</value>
            </setting>
            <setting name="LicenseServer" serializeAs="String">
                <value>192.168.10.10:40000</value>
            </setting>
            <setting name="DbUserName" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>Tekno2020.*</value>
            </setting>
            <setting name="CompanyDB" serializeAs="String">
                <value>ZTEKNOTES</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Tekno2015.</value>
            </setting>
            <setting name="IMAP" serializeAs="String">
                <value>imap.gmail.com</value>
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="Remitente" serializeAs="String">
                <value>sistemas@tekno-step.com</value>
            </setting>
            <setting name="RutaPDF" serializeAs="String">
                <value>C:\Users\lvazquez\Desktop\LL\XML y PDF\</value>
            </setting>
            <setting name="EmailCC" serializeAs="String">
                <value>paola.rodriguez@tekno-step.com,edith.pulido@tekno-step.com,eduardo.pacheco@tekno-step.com,angel.martinez@tekno-step.com</value>
            </setting>
            <setting name="EmailC" serializeAs="String">
                <value>ecommerce@tekno-step.com</value>
            </setting>
        </EcommerceInvoices.My.MySettings>
    </userSettings>
</configuration>